# from oh-my-zsh
alias ...='cd ../..'
alias d='dirs -v | head -10'

#personal
alias cliplast='fc -ln|tail -1|pbcopy'
alias cp='cp -v'
alias egrep='egrep --color=auto'
alias glances='TERM=xterm-256color glances --process-short-name'
alias grep='grep --color=auto'
alias l='ls -F '
alias la='ls -AF '
alias ld=lazydocker
alias ll='ls -lF '
alias lla='ll -A'
alias more=less
alias mv='mv -v'
alias rm="echo Replace '\"rm\"' with '\"trash\"', or force the original with '\"\\\rm\"': trash "
alias tig='TERM=xterm-256color tig'
alias weather='curl v2.wttr.in'
alias y='noglob yadm'
alias yc='GIT_DIR=~/.local/share/yadm/repo.git code ~/.config/yadm'
alias yv='GIT_DIR=~/.lcaol/share/yadm/repo.git nvim ~/.config/yadm'
