{{- /*
--------------------------------------------------------------------------------
FZF (Fuzzy Finder) 安裝腳本
--------------------------------------------------------------------------------
此腳本作為 Chezmoi 的 run_once_after hook 執行 (Apps 階段)。
它引用 `install/common/fzf.sh` 進行跨平台安裝。
*/ -}}

{{ include "../install/common/fzf.sh" }}
