{{- /*
--------------------------------------------------------------------------------
Zsh Shell 安裝腳本
--------------------------------------------------------------------------------
此腳本作為 Chezmoi 的 run_once_before hook 執行。
它會引用並執行 `install/common/zshell.sh` 來安裝 Zsh 並設為預設 Shell。
*/ -}}

{{ include "../install/common/zshell.sh" }}
