{{- /*
--------------------------------------------------------------------------------
Sheldon (Zsh Plugin Manager) 安裝腳本
--------------------------------------------------------------------------------
此腳本作為 Chezmoi 的 run_once_before hook 執行。
它會引用並執行 `install/common/sheldon.sh` 來安裝 Sheldon。
*/ -}}

{{ include "../install/common/sheldon.sh" }}
