{{- /*
--------------------------------------------------------------------------------
Mac App Store (MAS) 應用程式安裝腳本
--------------------------------------------------------------------------------
此腳本作為 Chezmoi 的 run_once_after hook 執行 (30-GUI 階段)。
負責安裝 'mas' CLI 工具以及指定的 App Store 應用程式。
*/ -}}

{{ if eq .chezmoi.os "darwin" -}}
{{   include "../install/macos/common/mac_app_store.sh" }}
{{- end }}
