{{- /*
--------------------------------------------------------------------------------
Ghostty 終端機安裝腳本
--------------------------------------------------------------------------------
此腳本作為 Chezmoi 的 run_once_after hook 執行 (30-GUI 階段)。
Ghostty 是基於 Zig 開發的高效能終端機。
*/ -}}

{{ if eq .chezmoi.os "darwin" -}}
{{   include "../install/macos/common/ghostty.sh" }}
{{- end }}
