{{- /*
--------------------------------------------------------------------------------
Homebrew 安裝腳本
--------------------------------------------------------------------------------
此腳本作為 Chezmoi 的 run_once_before hook 執行 (Bootstrap 階段)。
它負責安裝 macOS 的套件管理器 Homebrew。
*/ -}}

{{ if eq .chezmoi.os "darwin" -}}
{{   include "../install/macos/common/brew.sh" }}
{{- end }}
