# vim: ft=toml
# 目錄設定 (Directory)
# 設定路徑顯示方式

[directory]
format = "[ 󰉋  $path ]($style)[](fg:surface1 bg:bg:#394260)"
truncation_length = 3
truncate_to_repo = false
truncation_symbol = "…/"
fish_style_pwd_dir_length = 1
use_logical_path = true
style = "bold bg:surface1 fg:text"
disabled = false
home_symbol = "~"
use_os_path_sep = true

[directory.substitutions]
