{{- $fontDir := "" -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $fontDir = "Library/Fonts" -}}
{{- else  if eq .chezmoi.os "linux" -}}
{{-   $fontDir = ".local/share/fonts" -}}
{{- end -}}

{{ $fontDir }}/Meslo:
  type: "archive"
  url: "https://github.com/ryanoasis/nerd-fonts/releases/download/v3.1.1/Meslo.tar.xz"
  stripComponents: 1
  include: ["*.ttf"]
