# `sheldon` configuration file
# ----------------------------
#
# You can modify this file directly or you can use one of the following
# `sheldon` commands which are provided to assist in editing the config file:
#
# - `sheldon add` to add a new plugin to the config file
# - `sheldon edit` to open up the config file in the default editor
# - `sheldon remove` to remove a plugin from the config file
#
# See the documentation for more https://github.com/rossmacarthur/sheldon#readme

shell = "zsh"

[plugins.zsh-defer]
github = 'romkatv/zsh-defer'
apply = ['source']

[templates]
defer = "{{ hooks?.pre | nl }}{% for file in files %}zsh-defer source \"{{ file }}\"\n{% endfor %}{{ hooks?.post | nl }}"

[plugins.compinit]
inline = 'autoload -Uz compinit && zsh-defer compinit'

[plugins.zsh-autosuggestions]
github = 'zsh-users/zsh-autosuggestions'
apply = ['defer']

[plugins.zsh-completions]
github = 'zsh-users/zsh-completions'
apply = ['defer']

[plugins.zsh-syntax-highlighting]
github = 'zsh-users/zsh-syntax-highlighting'
apply = ['defer']

[plugins.starship]
inline = 'eval "$(starship init zsh)"'

[plugins.gpg]
local = '~/.local/bin/common'
use = ['gpg.sh']
apply = ['source']

[plugins.rust]
local = '~/.local/bin/common'
use = ['rust.sh']
apply = ['source']

[plugins.common-aliases]
local = '~/.local/bin/common'
use = ['aliases.sh']
apply = ['source']

[plugins.system-aliases]
local = '~/.local/bin/{{ if eq .system "client" }}client{{ else }}server{{ end }}'
use = ['aliases.sh']
apply = ['source']

[plugins.fzf]
local = '~/.config/fzf'
use = ['config.zsh']
apply = ['defer']

[plugins.ssh-agent]
local = '~/.local/bin/common'
use = ['ssh_agent.sh']
apply = ['source']
