{{ include "dot_config/sheldon/plugin_sources/core.toml" }}
{{- if eq .system "client" }}
{{ include "dot_config/sheldon/plugin_sources/client.toml" }}
{{-   if eq .chezmoi.os "darwin" }}
{{ include "dot_config/sheldon/plugin_sources/macos.toml" }}
{{-   end }}
{{- else if eq .system "server" }}
{{ include "dot_config/sheldon/plugin_sources/server.toml" }}
{{- end -}}
