#!/usr/bin/env bash

set -eufo pipefail

{{- $sudo := "sudo " -}}
{{- if eq .chezmoi.username "root" -}}
{{-   $sudo = "" -}}
{{- end -}}

{{- if or (eq .osid "linux-debian") (eq .osid "linux-ubuntu") }}

set +e
# ----------------- #
# APT               #
# ----------------- #

install_apt_package() {
  if [ -n "$1" ]; then
    if ! dpkg-query -l "$1" > /dev/null; then
      echo "Installing '$1' ..."
      {{ $sudo }}apt install -y "$1"
    fi
  fi
}

if ! [ -x "$(command -v add-apt-repository)" ]; then
  {{ $sudo }}apt install -y software-properties-common
fi

# add-apt-repository
{{-   range .packages.linux.aptrepo -}}
{{-     if .name }}
{{ $sudo }}apt-key adv --keyserver {{ .keyserver }} --recv-key {{ .recvkey }}
{{ $sudo }}apt-add-repository -y {{ .repo }}
{{-     else }}
{{ $sudo }}add-apt-repository -y {{ . }}
{{-     end }}
{{-   end }}

# update apt & full-upgrade
{{ $sudo }}apt update
{{ $sudo }}apt full-upgrade -y

{{    range .packages.linux.apt -}}
install_apt_package {{ . }}
{{    end -}}

{{    if eq .chezmoi.arch "amd64" -}}
# ----------------- #
# Homebrew          #
# ----------------- #
{{      template "homebrew" dict "os" .packages.linux }}
{{-   end }}

set -e

{{ $sudo }}apt autoremove --yes
{{- end -}}
